@import 'Geral.scss';

body {
    background-color: #1a1f26;
    min-height: 100vh;
    color: #fff;
    font-family: $font-Poppins;

    nav {
        width: calc(100% - 40px);
        height: auto;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
            font-size: 2em;
            color: rgb(68, 0, 255);

            span {
                color: rgb(0, 255, 221);
            }
        }

        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;

            li {
                display: flex;
                align-items: center;
                cursor: pointer;

                a {
                    color: #fff;
                }

                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    display: none;
                }

                span.material-symbols-outlined {
                    font-size: 40px;
                }
            }
        }
    }

    main {
        width: 100%;
        height: calc(100vh - 100px);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        div {
            margin-top: 50px;

            label {
                color: rgb(255, 255, 255);
                background-color: rgb(6, 177, 154);
                cursor: pointer;
                font-size: 12px;
                padding: 10px;
                border-width: initial;
                border-style: none;
                border-color: initial;
                border-image: initial;
            }

            input {
                display: none;
            }

            button {
                color: rgb(255, 255, 255);
                background-color: rgb(2, 82, 255);
                cursor: pointer;
                font-size: 12px;
                padding: 11.5px;
                border-width: initial;
                border-style: none;
                border-color: initial;
                border-image: initial;
            }
        }
    }
}